{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <a href="script1/">
                <h3>Piwik Analytics / App Preview / ReportingScript1</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="script2/">
                <h3>Piwik Analytics / Video Campaigns / ReportingScript1</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="script3/">
                <h3>FIITJEE Demo / Norah Analytics / Notifications Demo / XlsxToJson</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="script4/">
                <h3>FIITJEE Demo / Norah Analytics / Reporting Dashboard / XlsxToJson</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="script5/">
                <h3>Pictor Live Campaigns / HDFC / PL BL Durga Puja / DataPre-processing</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="script6/">
                <h3>Name split + char data</h3>
            </a>
        </div>
    </div>
</div>



{% endblock %}


