<header class="container text-center" style="margin-bottom: 7%">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span style="font-family: sans-serif">SCRiPTO</span></a>
            </div>
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#">Page 1</a></li>-->
                <!--<li><a href="#">Page 2</a></li>-->
                <!--<li><a href="#">Page 3</a></li>-->
            <!--</ul>-->
        </div>
    </nav>
</header>
